<div class = "container">
  <div class="jumbotron text-center">
    <h1>Create Student</h1>
  </div>
  <div class = "mng-form">
    <%= form_for @student, url: {action: "create"} do |student| %>
      <div class="form-group">
        <%= student.label :name, I18n.t("model.student.name") %>
        <%= student.text_field :name, class: 'form-control', placeholder: I18n.t("views.student.enter_name"), maxlength: 30, required: true %>
      </div>
      <div class="form-group">
        <%= student.label :email, I18n.t("model.student.email") %>
        <%= student.email_field :email, class: 'form-control', placeholder: I18n.t("views.student.enter_email"), maxlength: 50, required: true %>
      </div>
      <div class="form-group">
        <%= student.label :age, I18n.t("model.student.age") %>
        <%= student.select(:age, (18..30).to_a, {:include_blank => I18n.t("views.student.select_age")}, {:class => "form-control", required: true} ) %>
      </div>
      <div class="form-group">
        <%= student.label :college, I18n.t("model.student.college") %>
        <%= student.select(:college, Student::COLLEGES, {:include_blank => I18n.t("views.student.select_college")}, {:class => "form-control", required: true} ) %>
      </div>
      <div class="checkbox">
        <%= student.label :doing_internship, I18n.t("model.student.doing_internship")  do %>
          <%= student.check_box :doing_internship, class: 'intrnshp-chckbox' %>
          <%= I18n.t("model.student.doing_internship") %>
        <% end %>
      </div>
      <div class="form-group compny-name <%= "hide" unless student.object.doing_internship? %>">
        <%= student.label :internship_company, I18n.t("model.student.internship_company") %>
        <%= student.text_field :internship_company, class: 'form-control', placeholder: I18n.t("views.student.enter_internship"), maxlength: 50%>
      </div>
      <%= student.submit I18n.t("views.student.submit"), class: "btn btn-default" %>
    <% end %>
  </div>
</div>
