<!DOCTYPE html>
<html>
  <head>
    <title>StudentApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Home</a>
        </div>
        <div class="navbar-header navbar-right">
          <a class="navbar-brand" href="/">Student App</a>
        </div>
      </div>
    </nav>
    <% flash.each do |key, value| %>
      <div class="<%= flash_class(key) %> text-center flash-msg">
        <%= value %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
